body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.inner {
  background-color: antiquewhite;
  height: 20px;
  width: 20px;
  transition: background-color 0s ease-out;
  /* transition-duration: 0ms;
  transition-timing-function: ease-out; */
}

.inner:hover {
  background-color: aqua;
}

#outer {
  border: 0.1px solid black;
  display: flex;
  margin-top: 20%;
  flex-wrap: wrap;
  height: 320px;
  width: 320px;
}
